@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Chirp! Application. Register an account, or if already logged in, read / write cheeps to your friends!</p>
</div>

