@page
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@using Chirp.Core.DataModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminModel

@{
    ViewData["Title"] = "Admin";
    Layout = "Shared/_Layout";
}

<div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <p>
            Sign in to access the admin panel.
        </p>
    }
    else
    {
        <h1>
            Admin panel
        </h1>
    }
    

</div>