@page "{username}"
@model Chirp.Web.Pages.About.PersonalDataVaultModel
@{
    ViewData["Title"] = "Personal Data Vault";
}

<h2>@ViewData["Title"]</h2>
<p>Welcome, @Model.Username!</p>
<p>this page shows all the good personal information we have on you.</p>

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonalDataItems)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-page-handler="ShowCheeps">
        <button type="submit">Show all cheeps</button>
</form>